* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    min-height: 0;
    min-width: 0;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    line-height: 1.5;
}
